# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
appdirs=1.4.4=pypi_0
appnope=0.1.0=pypi_0
argon2-cffi=20.1.0=pypi_0
astroid=2.4.2=pypi_0
async-generator=1.10=pypi_0
attrs=20.2.0=pypi_0
backcall=0.2.0=pypi_0
black=20.8b1=pypi_0
bleach=3.2.1=pypi_0
ca-certificates=2020.10.14=0
certifi=2020.6.20=py36_0
cffi=1.14.3=pypi_0
click=7.1.2=pypi_0
csaps=1.0.2=pypi_0
cycler=0.10.0=pypi_0
dataclasses=0.8=pypi_0
decorator=4.4.2=pypi_0
defusedxml=0.6.0=pypi_0
entrypoints=0.3=pypi_0
ffmpeg=1.4=pypi_0
importlib-metadata=2.0.0=pypi_0
ipykernel=5.3.4=pypi_0
ipython=7.16.1=pypi_0
ipython-genutils=0.2.0=pypi_0
ipywidgets=7.5.1=pypi_0
isort=5.7.0=pypi_0
jedi=0.17.2=pypi_0
jinja2=2.11.2=pypi_0
joblib=0.17.0=pypi_0
jsonschema=3.2.0=pypi_0
jupyter=1.0.0=pypi_0
jupyter-client=6.1.7=pypi_0
jupyter-console=6.2.0=pypi_0
jupyter-core=4.6.3=pypi_0
jupyterlab-pygments=0.1.2=pypi_0
kiwisolver=1.2.0=pypi_0
lazy-object-proxy=1.4.3=pypi_0
libcxx=10.0.0=1
libedit=3.1.20191231=h1de35cc_1
libffi=3.3=hb1e8313_2
markupsafe=1.1.1=pypi_0
matlab=0.1=pypi_0
matlabengineforpython=R2020b=pypi_0
matplotlib=3.3.1=pypi_0
mccabe=0.6.1=pypi_0
mistune=0.8.4=pypi_0
mypy-extensions=0.4.3=pypi_0
nbclient=0.5.0=pypi_0
nbconvert=6.0.7=pypi_0
nbformat=5.0.7=pypi_0
ncurses=6.2=h0a44026_1
nest-asyncio=1.4.1=pypi_0
notebook=6.1.4=pypi_0
numpy=1.19.1=pypi_0
opencv-python=4.4.0.42=pypi_0
openssl=1.1.1h=haf1e3a3_0
packaging=20.4=pypi_0
pandas=1.1.2=pypi_0
pandocfilters=1.4.2=pypi_0
parso=0.7.1=pypi_0
pathspec=0.8.1=pypi_0
patsy=0.5.1=pypi_0
pexpect=4.8.0=pypi_0
pickleshare=0.7.5=pypi_0
pillow=7.2.0=pypi_0
pip=20.2.4=py36_0
prodict=0.8.10=pypi_0
progress=1.5=pypi_0
progress-bar=8=pypi_0
prometheus-client=0.8.0=pypi_0
prompt-toolkit=3.0.7=pypi_0
ptyprocess=0.6.0=pypi_0
pycparser=2.20=pypi_0
pygments=2.7.1=pypi_0
pylint=2.6.0=pypi_0
pyparsing=2.4.7=pypi_0
pyrsistent=0.17.3=pypi_0
python=3.6.12=h26836e1_2
python-dateutil=2.8.1=pypi_0
pytz=2020.1=pypi_0
pyzmq=19.0.2=pypi_0
qtconsole=4.7.7=pypi_0
qtpy=1.9.0=pypi_0
readline=8.0=h1de35cc_0
regex=2020.11.13=pypi_0
scikit-learn=0.23.2=pypi_0
scikit-posthocs=0.6.6=pypi_0
scipy=1.5.2=pypi_0
seaborn=0.11.0=pypi_0
send2trash=1.5.0=pypi_0
setuptools=50.3.0=py36h0dc7051_1
six=1.15.0=pypi_0
sklearn=0.0=pypi_0
sqlite=3.33.0=hffcf06c_0
statsmodels=0.12.0=pypi_0
terminado=0.9.1=pypi_0
testpath=0.4.4=pypi_0
threadpoolctl=2.1.0=pypi_0
tk=8.6.10=hb0a8c7a_0
toml=0.10.2=pypi_0
tornado=6.0.4=pypi_0
traitlets=4.3.3=pypi_0
typed-ast=1.4.2=pypi_0
typing-extensions=3.7.4.3=pypi_0
wcwidth=0.2.5=pypi_0
webencodings=0.5.1=pypi_0
wheel=0.35.1=py_0
widgetsnbextension=3.5.1=pypi_0
wrapt=1.12.1=pypi_0
xz=5.2.5=h1de35cc_0
zipp=3.3.0=pypi_0
zlib=1.2.11=h1de35cc_3
